<p id="notice"><%= notice %></p>

<h1>Detail Movements</h1>

<table>
  <thead>
    <tr>
      <th>Header movements</th>
      <th>Products</th>
      <th>Precio unitario</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_movements.each do |detail_movement| %>
      <tr>
        <td><%= detail_movement.header_movements %></td>
        <td><%= detail_movement.products %></td>
        <td><%= detail_movement.precio_unitario %></td>
        <td><%= detail_movement.cantidad %></td>
        <td><%= detail_movement.total %></td>
        <td><%= link_to 'Show', detail_movement %></td>
        <td><%= link_to 'Edit', edit_detail_movement_path(detail_movement) %></td>
        <td><%= link_to 'Destroy', detail_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail Movement', new_detail_movement_path %>
