<%= form_with(model: header_movement, local: true) do |form| %>
  <% if header_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(header_movement.errors.count, "error") %> prohibited this header_movement from being saved:</h2>

      <ul>
      <% header_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movement_types_id %>
    <%= form.text_field :movement_types_id %>
  </div>

  <div class="field">
    <%= form.label :document_types_id %>
    <%= form.text_field :document_types_id %>
  </div>

  <div class="field">
    <%= form.label :header_order_of_works_id %>
    <%= form.text_field :header_order_of_works_id %>
  </div>

  <div class="field">
    <%= form.label :providers_id %>
    <%= form.text_field :providers_id %>
  </div>

  <div class="field">
    <%= form.label :fecha_creacion %>
    <%= form.datetime_select :fecha_creacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
