<body background-image="url(https://i2.wp.com/www.oftalmicadelpacifico.com/wp-content/uploads/2018/03/a5cf584cd3912739eb5041195654e3a1.jpg?w=1280)">
<p id="notice"><%= notice %></p>
<div  class="form-style-barra">
PRODUCTOS
</div>

 <!--class="table-users" -->

<div  class="form-style-9">
 
   <table  class="table">
      <tr>
        <th>Cod producto</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Color</th>
        <th>Medidas</th>
       
        <th> <input id="buscar" type="text"  placeholder="Escriba algo para filtrar" />
    
       <%= link_to 'Nuevo Producto', new_product_path, class:"btn btn-success" %>  </th>
       
    
 <table id="tabla" cellspacing="0" class="table">
  <tbody>
      <tr>
    </tr>
        <% @products.each do |product| %>
      <tr >
        <td><%= product.cod_producto %></td>
        <td><%= product.nombre %></td>
        <td><%= product.marca %></td>
        <td><%= product.color %></td>
        <td><%= product.medidas %></td>
    
       <td>  <%= link_to 'Editar', edit_product_path(product), class:"btn btn-warning" %>
        <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Esta Seguro de Eliminar?' } , class:"btn btn-danger"%></td>
      </tr>

    <% end %>
     <!--    <td><img src="http://lorempixel.com/100/100/people/3" alt="" /></td> -->     </tbody>
   </table>
</div>

