<p id="notice"><%= notice %></p>

<p>
  <strong>Header order of work:</strong>
  <%= @detail_order_of_work.header_order_of_work %>
</p>

<p>
  <strong>Cod ojo:</strong>
  <%= @detail_order_of_work.cod_ojo %>
</p>

<p>
  <strong>Cod cercania:</strong>
  <%= @detail_order_of_work.cod_cercania %>
</p>

<p>
  <strong>Esf:</strong>
  <%= @detail_order_of_work.esf %>
</p>

<p>
  <strong>Cil:</strong>
  <%= @detail_order_of_work.cil %>
</p>

<p>
  <strong>Eje:</strong>
  <%= @detail_order_of_work.eje %>
</p>

<p>
  <strong>Dip:</strong>
  <%= @detail_order_of_work.dip %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @detail_order_of_work.altura %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @detail_order_of_work.cb %>
</p>

<p>
  <strong>Diam:</strong>
  <%= @detail_order_of_work.diam %>
</p>

<p>
  <strong>Productos:</strong>
  <%= @detail_order_of_work.productos %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @detail_order_of_work.observaciones %>
</p>

<%= link_to 'Edit', edit_detail_order_of_work_path(@detail_order_of_work) %> |
<%= link_to 'Back', detail_order_of_works_path %>
